@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");
.center {
  justify-content: center;
}

* {
  overflow-x: hidden;
}

.bxshadow {
  -webkit-box-shadow: 6px 6px 37px 7px rgba(167, 178, 186, 0.9);
  -moz-box-shadow: 6px 6px 37px 7px rgba(167, 178, 186, 0.9);
  box-shadow: 6px 6px 37px 7px rgba(167, 178, 186, 0.9);
}

.input {
  padding-left: 20px;
}

/* remember to define focus styles! */
.input:focus {
  outline: 0;
}
